body{
  background-color: #C3E5AE;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #97DBAE;
  border-width: 5px;
  width: 7%;

}
img {
  width:200px;
  height:200px;
}
img:hover{
  width: 210px;
  height: 210px;
}
.link:hover {
  color:darkblue;
  font-style: italic;
  background-color: lightgray;
}
h1 {
  color: #2b8042;
}
h2 {
  color: #2b8042;
}
h3 {
  color: #2b8042;
}
